<form action="/add-expense" method="POST" class="space-y-4 mt-6">
  <div class="flex justify-center gap-2 mb-2">
    <button type="button" id="expenseBtn" class="px-4 py-2 rounded-xl">
      Expense
    </button>
    <button type="button" id="incomeBtn" class="px-4 py-2 rounded-xl">
      Income
    </button>
  </div>

  <input type="hidden" name="type" id="typeInput" value="expense" />

  <input
    name="name"
    required
    placeholder="Name"
    class="w-full border p-2 rounded"
  />
  <input
    name="amount"
    type="number"
    min="0"
    required
    placeholder="Amount"
    step="0.01"
    class="w-full border p-2 rounded"
  />
  <input name="date" type="date" required class="w-full border p-2 rounded" />

  <select
    id="categorySelect"
    name="category"
    required
    class="w-full border p-2 rounded"
  >
    <option value="">Select a category</option>
  </select>

  <button
    type="submit"
    class="w-full bg-[#089ddd] border-[#0a67a0] border-4 hover:bg-[#44bcf0] text-white py-2 mb-10 rounded-xl"
  >
    Save
  </button>
</form>
