<nav class="sticky top-0 flex bg-[#3EC3DE] px-4 text-white z-999">
    <form action="/home" method="get">
        <button class="font-[DynaPuff] font-semibold text-3xl drop-shadow-md hover:cursor-pointer py-4">EconAmi</button>
    </form>
</nav>