<nav id="nav_highlight" class="sticky bottom-0 justify-around flex bg-[#3EC3DE] text-white md:hidden z-999">
    <form action="/home" method="get">
        <button type="submit" class="hover:cursor-pointer p-4 px-6 drop-shadow-md">
            <i class="fa-solid fa-house fa-lg"></i>
        </button>
    </form>

    <form action="/game" method="get">
        <button type="submit" class="hover:cursor-pointer p-4 px-6 drop-shadow-md">
            <i class="fa-solid fa-face-smile-beam fa-lg"></i>
        </button>
    </form>

    <form action="/transactions" method="get">
        <button type="submit" class="hover:cursor-pointer p-4 px-6 drop-shadow-md">
            <i class="fa-solid fa-table-list fa-lg"></i>
        </button>
    </form>

    <form action="/achievements" method="get">
        <button type="submit" class="hover:cursor-pointer p-4 px-6 drop-shadow-md">
            <i class="fa-solid fa-star fa-lg"></i>
        </button>
    </form>

    <form action="/profile" method="get">
        <button type="submit" class="hover:cursor-pointer p-4 px-6 drop-shadow-md">
            <i class="fa-solid fa-circle-user fa-lg"></i>
        </button>
    </form>
</nav>