<nav class="sticky top-0 md:justify-between flex bg-[#3EC3DE] text-white p-4 z-999">
    <form action="/home" method="get">
        <button class="font-[DynaPuff] font-semibold text-3xl drop-shadow-md hover:cursor-pointer">EconAmi</button>
    </form>
    <button class="hidden md:block" onclick=""><i class="fa-solid fa-bars fa-lg"></i></button>
</nav>