<nav class="sticky bottom-0 justify-around flex bg-blue-300 md:hidden">
    <form action="/home" method="get">
        <button type="submit" class="hover:bg-blue-400 hover:cursor-pointer p-4 px-6 transition">
            <i class="fa-solid fa-house fa-lg"></i>
        </button>
    </form>

    <form action="/game" method="get">
        <button type="submit" class="hover:bg-blue-400 hover:cursor-pointer p-4 px-6 transition">
            <i class="fa-solid fa-face-smile-beam fa-lg"></i>
        </button>
    </form>

    <form action="/transactions" method="get">
        <button type="submit" class="hover:bg-blue-400 hover:cursor-pointer p-4 px-6 transition">
            <i class="fa-solid fa-table-list fa-lg"></i>
        </button>
    </form>

    <form action="/achievements" method="get">
        <button type="submit" class="hover:bg-blue-400 hover:cursor-pointer p-4 px-6 transition">
            <i class="fa-solid fa-star fa-lg"></i>
        </button>
    </form>

    <form action="/profile" method="get">
        <button type="submit" class="hover:bg-blue-400 hover:cursor-pointer p-4 px-6 transition">
            <i class="fa-solid fa-circle-user fa-lg"></i>
        </button>
    </form>
</nav>