<nav class="sticky top-0 md:justify-between flex bg-blue-300 p-4">
    <form action="/home" method="get">
        <button class="font-[DynaPuff] font-semibold text-3xl hover:cursor-pointer">EconAmi</button>
    </form>
    <button class="hidden md:block" onclick=""><i class="fa-solid fa-bars fa-lg"></i></button>
</nav>