<nav class="sticky top-0 md:justify-between flex bg-blue-300 p-4">
    <a href="#" class="font-[DynaPuff] font-semibold text-3xl">EconAmi</a>
    <button class="hidden md:block" onclick=""><i class="fa-solid fa-bars fa-lg"></i></button>
</nav>