<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EconAmi | Game</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <!-- Tailwind -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- External libraries -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Quicksand:wght@300..700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/f0fa2c9149.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class="h-dvh flex flex-col bg-[#f5f2f0] text-[#151723] font-[Quicksand]">
    <!-- Top Navigation -->
    <%- include('./partials/nav_top') %>

    <section class="bg-slate-100 h-full relative md:ml-14" id="content">
        <!-- Game UI, this will always be on top -->

        <div class="flex justify-between">
            <!-- Buttons -->
            <div class="z-10">
                <button id="game-pet"
                    class="size-18 bg-blue-300 rounded-lg border-4 border-blue-400 block m-4 hover:cursor-pointer">
                    <i class="fa-regular fa-hand fa-2xl"></i>
                </button>
                <button id="game-items"
                    class="size-18 bg-blue-300 rounded-lg border-4 border-blue-400 block m-4 hover:cursor-pointer">
                    <!-- Placeholder for items -->
                    <i class="fa-solid fa-coins fa-2xl"></i>
                </button>
                <button id="game-achievements"
                    class="size-18 bg-blue-300 rounded-lg border-4 border-blue-400 block m-4 hover:cursor-pointer">
                    <!-- Placeholder for items -->
                    <i class="fa-solid fa-star fa-2xl"></i>
                </button>
            </div>
            <!-- Stats -->
            <div class="z-10 select-none">
                <div class="m-4 px-2 bg-blue-300 border-4 border-blue-400 rounded-lg text-center"><%= happiness: pet.happiness %></div>
                <div class="m-4 px-2 bg-blue-300 border-4 border-blue-400 rounded-lg text-center">Happiness</div>
            </div>
        </div>

        <!-- Items menu (Default hidden) -->
        <div id="items-menu" class="hidden absolute top-0 z-100 w-full">
            <div class="bg-red-400 rounded-b-lg border-4 border-x-0 border-t-red-400 px-4">
                <!-- This is the header part -->
                <div class="flex justify-between m-4">
                    <h1 class="text-2xl font-bold my-auto">Items</h1>
                    <!-- Buttons for categories *** REMEMBER TO CHANGE WHAT IT LOOKS LIKE -->
                    <div>
                        <button id="items-menu-base"
                            class="border-4 rounded-lg px-2 py-1 bg-green-600 hover:cursor-pointer">Colour</button>
                        <button id="items-menu-item"
                            class="border-4 rounded-lg px-2 py-1 bg-green-600 hover:cursor-pointer">Item</button>
                    </div>
                </div>
                <hr class="border-2">
                <!-- Dynamically changing items -->
                <div id="items" class="flex-wrap flex m-4 justify-center md:justify-start"></div>
            </div>
            <!-- Close button -->
            <div id="close-menu"
                class="bg-red-400 mx-4 flex size-18 rounded-b-lg cursor-pointer border-4 border-t-0 -translate-y-1">
                <i class="fa-solid fa-coins fa-2xl my-auto mx-auto"></i>
            </div>
        </div>

        <!-- Achievements menu (Default hidden) -->
        <div id="achievements-menu" class="hidden absolute top-0 z-100 w-full">
            <div class="bg-blue-400 rounded-b-lg border-4 border-x-0 border-t-blue-400 px-4">
                <!-- This is the header part -->
                <div class="flex justify-between m-4">
                    <h1 class="text-2xl font-bold my-auto">Achievements</h1>
                    <!-- Buttons for categories *** REMEMBER TO CHANGE WHAT IT LOOKS LIKE -->

                </div>
                <hr class="border-2">
                <!-- Dynamically changing items -->
                <div class="h-60 mx-auto my-4 mb-8 overflow-y-scroll"
                    style="scrollbar-width: thin; scrollbar-color: red orange;">
                    <div id="achievements-container" class="m-4"></div>
                </div>
            </div>
            <!-- Close button -->
            <div id="close-menu-achievement"
                class="bg-blue-400 mx-4 flex size-18 rounded-b-lg cursor-pointer border-4 border-t-0 -translate-y-1">
                <i class="fa-solid fa-star fa-2xl my-auto mx-auto"></i>
            </div>
        </div>

        <div class=" w-48 -translate-y-24 ml-auto mr-16 md:left-3/5 md:absolute">
            <img id="game-window" src="/images/game/weather/g-Clear.png" class="overflow-hidden">
        </div>

        <!-- This is to keep everything stuck to the bottom -->
        <div class="bottom-0 absolute z-0 w-full">
            <!-- Ami div -->
            <div id="ami" class="relative translate-y-4 w-36 mx-auto">
                <!-- Item Overlay -->
                <img id="ami-item" class="select-none pointer-events-none absolute left-0 right-0 z-10" src="" alt="">
                <!-- Expression Overlay -->
                <img id="ami-expression" class="select-none pointer-events-none absolute left-0 right-0 z-10"
                    src="/images/game/Ami-Expressions/default.png" alt="">
                <!-- Ami Base -->
                <img id="ami-base" class="select-none pointer-events-none" src="/images/game/Ami-Base/white.png" alt="">

            </div>
            <!-- Ground -->
            <div class="bg-blue-900 py-16"></div>
    </section>

    <!-- Bottom Navigation -->
    <%- include('./partials/nav_bottom') %>


    <!-- Scripts -->
    <script src="scripts/game.js"></script>
    <script src="/scripts/achievements.js"></script>
    <script src="/scripts/navigation.js"></script>
</body>

</html>