<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EconAmi | [home]</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- External libraries -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f0fa2c9149.js" crossorigin="anonymous"></script>
</head>

<style>
    body {
        background-image: url("https://i.redd.it/syya7v8uqb681.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
</style>

<body>

    <!-- Top Navigation -->
    <%- include('./components/nav_top') %>


    <section class="min-h-dvh">

        <div class="bg-slate-200 max-w-[60%] mx-auto rounded-xl">

            <!-- speech bubble -->
            <div class="mx-auto max-w-[80%]">
                <!-- bubble with text -->
                <div class="mx-auto bg-white text-center text-lg p-8 px-12 rounded-full">
                    Hello <%= username %>!
                </div>
                <!-- bubble tail -->
                <div
                    class="ml-auto mr-8 border-white size-0 border-30 border-r-transparent border-l-0 border-b-transparent">
                </div>
            </div>


            <!-- budget donut -->

            <div style="display: flex; justify-content: center;">
                <canvas id="canvas" width=325 height=325></canvas>
            </div>



            <script>
                const canvas = document.getElementById("canvas");
                const ctx = canvas.getContext("2d");

                // e66f6f = red, 8ce66f = green
                const colors = ['#e66f6f', '#8ce66f'];
                const values = [25, 75]; // proportional values; ADJUSTABLE

                const img = new Image();
                img.src = "/images/game/Ami-Base/white.png";

                img.onload = function () {
                    dmbChart(150, 150, 125, 25, values, colors, img);
                };

                function dmbChart(cx, cy, radius, arcwidth, values, colors, img) {
                    const PI = Math.PI;
                    const PI2 = 2 * PI;
                    const offset = PI / 2; // red starts from the bottom

                    ctx.lineWidth = arcwidth;

                    const total = values.reduce((a, b) => a + b, 0);
                    let accum = 0;

                    for (let i = 0; i < values.length; i++) {
                        ctx.beginPath();
                        ctx.arc(
                            cx, cy, radius,
                            offset + PI2 * (accum / total),
                            offset + PI2 * ((accum + values[i]) / total)
                        );
                        ctx.strokeStyle = colors[i];
                        ctx.stroke();
                        accum += values[i];
                    }

                    // Inner "cutout"
                    const innerRadius = radius - arcwidth - 3;
                    ctx.beginPath();
                    ctx.arc(cx, cy, innerRadius, 0, PI2);
                    ctx.fillStyle = 'transparent';
                    ctx.fill();

                    // Ami in the center
                    const imageSize = innerRadius * 1.5;
                    ctx.drawImage(img, cx - imageSize / 2, cy - imageSize / 2, imageSize, imageSize);
                }
            </script>


            <!-- amount spent / budget -->

            <div id="spentVsBudget" style="text-align: center;">$25/$100</div>
            <br>


            <!-- daily weekly monthly buttons -->

            <div class="flex justify-center space-x-2">
                <button id="dailyButton" class="bg-blue-200 px-2 py-1 rounded hover:bg-blue-300 transition"
                    type="button">daily</button>
                <button id="weeklyButton" class="bg-blue-200 px-2 py-1 rounded hover:bg-blue-300 transition"
                    type="button">weekly</button>
                <button id="monthlyButton" class="bg-blue-200 px-2 py-1 rounded hover:bg-blue-300 transition"
                    type="button">monthly</button>
            </div>

            <script>

                function dailyTransactions(itemDateString) {
                    const itemDate = new Date(
                        // TRANSACTIONS DATES
                    );
                    const today = new Date();

                    return (
                        itemDate.getUTCFullYear() === today.getUTCFullYear() &&
                        itemDate.getUTCMonth() === today.getUTCMonth() &&
                        itemDate.getUTCDate() === today.getUTCDate()
                    );
                }


                function sumAmounts(items) {
                    return items
                        .filter(item => dailyTransactions(item.date))
                        .reduce((total, item) => total + item.amount, 0);
                }


                document.getElementById("dailyButton").addEventListener('click', function () {
                    document.getElementById("spentVsBudget").innerHTML = dailySum
                })

                document.getElementById("weeklyButton").addEventListener('click', function () {
                    document.getElementById("spentVsBudget").innerHTML = weeklySum
                })

                document.getElementById("monthlyButton").addEventListener('click', function () {
                    document.getElementById("spentVsBudget").innerHTML = monthlySum
                })
            </script>


            <!-- add expense/income toggle. GURPREET PLEASE REPLACE THIS WITH YOUR EXPENSE/INCOME TOGGLE -->

            <div class="flex justify-center">
                <div style="margin: 10px;">

                    <button type="button"
                        class="collapsible flex items-center bg-blue-200 px-2 py-1 rounded hover:bg-blue-300 transition mb-2">

                        <!-- closed arrow -->
                        <svg class="closed-arrow w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8 16.881V7.119a1 1 0 0 1 1.636-.772l5.927 4.881a1 1 0 0 1 0 1.544l-5.927 4.88A1 1 0 0 1 8 16.882Z" />
                        </svg>

                        <!-- opened arrow -->
                        <svg class="opened-arrow w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"
                            style="display: none;">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M7.119 8h9.762a1 1 0 0 1 .772 1.636l-4.881 5.927a1 1 0 0 1-1.544 0l-4.88-5.927A1 1 0 0 1 7.118 8Z" />
                        </svg>

                        Add expense/income

                    </button>

                    <div class="content" style="display: none;">
                        <form class="space-y-2">
                            <input type="button" value="income"
                                class="bg-green-200 px-2 py-1 rounded hover:bg-green-300 transition">
                            <input type="button" value="expense"
                                class="bg-red-200 px-2 py-1 rounded hover:bg-red-300 transition">
                            <br>

                            <label for="name">Name: </label>
                            <input type="text" id="name" name="name"
                                class="shadow appearance-none border rounded py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <br>

                            <label for="type">Category: </label>
                            <input type="text" id="category" name="category"
                                class="shadow appearance-none border rounded py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <br>

                            <label for="date">Date: </label>
                            <input type="date" id="date" name="date">
                            <br>

                            <label for="amount">Amount: </label>
                            <input type="text" id="amount" name="amount"
                                class="shadow appearance-none border rounded py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <br>

                            <input type="button" value="Expand Form"
                                class="bg-blue-200 px-2 py-1 rounded hover:bg-blue-300 transition">
                            <input type="button" value="Submit"
                                class="bg-blue-200 px-2 py-1 rounded hover:bg-blue-300 transition">
                        </form>
                    </div>
                </div>

            </div>

            <script>
                const collapsible = document.querySelector('.collapsible');
                const content = collapsible.nextElementSibling;
                const closedArrow = document.querySelector('.closed-arrow');
                const openedArrow = document.querySelector('.opened-arrow');

                collapsible.addEventListener('click', function () {
                    if (content.style.display === "none") {
                        content.style.display = "block";
                        closedArrow.style.display = "none"
                        openedArrow.style.display = "block"
                    }
                    else {
                        content.style.display = "none";
                        closedArrow.style.display = "block"
                        openedArrow.style.display = "none"
                    }
                })
            </script>


            <!-- these should probably be in bottom nav (except logout, probably going into profile) but i'll keep them here for now in case we need them -->
            <form action="/auth/logout" method="POST">
                <button type="submit" class="bg-blue-200 px-2 py-1 rounded hover:bg-blue-300 transition">Logout</button>
            </form>
            <form action="/game" method="GET">
                <button type="submit" class="bg-blue-200 px-2 py-1 rounded hover:bg-blue-300 transition py-1">Go to
                    game!</button>
            </form>
            <form action="/profile" method="GET">
                <button type="submit" class="bg-blue-200 px-2 py-1 rounded hover:bg-blue-300 transition py-1">Go to
                    profile!</button>
            </form>
            <form action="/transactions" method="GET">
                <button type="submit" class="bg-blue-200 px-2 py-1 rounded hover:bg-blue-300 transition py-1">View
                    Transactions</button>
            </form>

        </div>

    </section>

    <!-- Bottom Navigation -->
    <%- include('./components/nav_bottom') %>
</body>

</html>