<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EconAmi | [index]</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- External libraries -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f0fa2c9149.js" crossorigin="anonymous"></script>
</head>

<style>
    body {
        background-image: url("https://i.redd.it/syya7v8uqb681.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
</style>

<body>

    <!-- TOP NAV -->
    <nav class="sticky top-0 md:justify-between flex bg-blue-300 p-4">
        <a href="#" class="font-[DynaPuff] font-semibold text-3xl">EconAmi</a>
        <button class="hidden md:block" onclick=""><i class="fa-solid fa-bars fa-lg"></i></button>
    </nav>


    <!-- PAGE CONTENT -->

    <section class="h-dvh">

        <!-- speech bubble -->
        <div class="mx-auto max-w-[80%]">
            <!-- bubble with text -->
            <div class="mx-auto bg-white text-center text-lg p-8 px-12 rounded-full">

                <p style="text-align: center;">Hi, I’m Ami!</p>
                <br>

                <p style="text-align: center;">I’m your friend in your budgeting journey. Please visit every day to play
                    with me and feed me delicious things!</p>
                <br>

                <p style="text-align: center;">While you’re here, you can also track your expenses to help you be more
                    mindful and improve your spending habits.</p>
                <br>

                <p style="text-align: center;">Complete challenges to earn coins to buy me cute things!</p>
                
            </div>
            <!-- bubble tail -->
            <div
                class="ml-auto mr-8 border-white size-0 border-30 border-r-transparent border-l-0 border-b-transparent">
            </div>
        </div>
        
        <!-- login/signup and Ami -->
        
        <div style="display: flex; justify-content: center; margin: 20px;">
            <div style="display: flex; flex-direction: column; margin: 100px;">
                <form action="/login" method="get">
                    <button type="submit" class="bg-blue-200 px-2 py-1 rounded hover:bg-blue-300 transition mb-2">Login/SignUp</button>
                </form>
            </div>
            <div>
                <img style="height: 200px;" src="/images/game/Ami-Base/white.png">
            </div>
        </div>

    </section>




    <!-- BOTTOM NAV -->
    <nav class="sticky bottom-0 justify-around flex bg-blue-300 md:hidden">
        <a href="#" class="hover:bg-blue-400 p-4 px-8 transition">
            <i class="fa-solid fa-house fa-lg"></i>
        </a>
        <a href="#" class="hover:bg-blue-400 p-4 px-8 transition">
            <i class="fa-solid fa-face-smile-beam fa-lg"></i>
        </a>
        <a href="#" class="hover:bg-blue-400 p-4 px-8 transition">
            <i class="fa-solid fa-table-list fa-lg"></i>
        </a>
        <a href="#" class="hover:bg-blue-400 p-4 px-8 transition">
            <i class="fa-solid fa-star fa-lg"></i>
        </a>
        <a href="#" class="hover:bg-blue-400 p-4 px-8 transition">
            <i class="fa-solid fa-circle-user fa-lg"></i>
        </a>
    </nav>

    <!-- Footer if we want would go here -->

</body>

</html>




